.hide {
    display: none;
}

.material-symbols-outlined.hide {
    display: none;
}

.mail-compose-container {
    position: fixed;
    bottom: 0;
    right: 1.5vw;
    width: 33.375em;
    height: 30.875em;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
    border-radius: 0.5em 0.5em 0 0;
}

.compose-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    border-radius: 0.5em 0.5em 0 0;
    font-family: 'roboto-medium';
    font-size: 0.9em;
    background-color: var(--crl-mail-search-bar);
}

.compose-header .top-buttons button {
    display: flex;
    align-items: center;
}

.mail-compose-container .material-symbols-outlined {
    font-size: 1.2em;
}

.mail-compose-container button:hover {
    background-color: var(--crl-mail-search-icon);
}

.mail-compose-container button {
    transition: 200ms;
    background-color: inherit;
    border: 0px;
    border-radius: 7px;
}

.compose-main {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.compose-main>* {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0px;
    border-bottom: 1px var(--crl-mail-search-bar) solid;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.bottom-buttons .send-btn {
    background-color: #0b57d0;
    color: white;
    font-family: 'roboto-medium';
    border-radius: 2em;
    padding: 0.5em 1em;
}

.mail-compose-container button {
    transition: 200ms;
    border: 0px;
}

.bottom-buttons .send-btn:hover {
    background-color: #1b61d1;
}