.mail-index {
    display: grid;
    grid-template-columns: var(--width-side-filter-mail) 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 1em;
}

.mail-index button {
    cursor: pointer;
}

.mail-index input {
    font-family: inherit;
}