.top-filter {
    display: grid;
    grid-template-columns: var(--width-side-filter-mail) 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    background-color: var(--crl-mail-bg);
    height: 5.3em;
    font-size: 13.333px;
    grid-column: 2;
    grid-row: 1;
}

.search-bar-container {
    grid-column: 1 / -1;
    grid-row: 1;
    align-items: center;
    display: flex;
    gap: 3em;
    width: 100%;
    margin-bottom: 0.7em;
}

.gmail-logo {
    display: flex;
    align-items: center;
    justify-self: left;
    width: 48px;
    height: 35.82px;
    flex-shrink: 0;
}

.gmail-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: clamp(20em, 45vw, 45em);
}

/* .search-btn {
    position: absolute;
    left: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
} */

.search-bar-container .search-btn {
    position: absolute;
    left: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    background-color: inherit;
    z-index: 2;
    border: 0px;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-bar-container button:hover {
    background-color: var(--crl-mail-search-icon);
}

.top-filter input {
    border-radius: 5em;
    border: 0px;
    background-color: var(--crl-mail-search-bar);
    height: 3.2em;
    width: 100%;
    padding-inline-start: 4em;
    outline: none;
    font-size: 1em;
    color: var(--clr-mail-font-black);
}

.date-btn {
    position: absolute;
    right: 1em;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
}

.date-btn img {
    width: 1.2em;
    height: 1.2em;
}