.mail-icons .material-symbols-outlined {
    font-size: 1.2em;
}

.mail-icons button {
    background-color: inherit;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2em;
    height: 2.2em;
    border-radius: 2em;
    cursor: pointer;
}

.mail-icons button:hover {
    background-color: #e6eaef;
}

.mail-icons button.read {
    background-color: white;
}

.mail-icons button.read:hover {
    background-color: #e6eaef;
}

.mail-li.read .mail-icons button.read {
    background-color: var(--crl-mail-bg);
}

.mail-li.read .mail-icons button.read:hover {
    background-color: #e6eaef;
}

.star-btn {
    position: absolute;
    left: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: 0px;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    color: #9aa0a6;
    transition: 200ms;
}

.star-btn.stared {
    color: #f4b400;
    font-variation-settings: 'FILL' 1;
}

.star-btn:hover {
    background-color: #E6EAEF;
}

.mail-preview.read {
    background-color: inherit;
}

.mail-preview {
    display: grid;
    grid-template-columns: 12em 1em 9fr 1em 1fr;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0.5em;
    cursor: pointer;
}

.mail-from {
    grid-column: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'roboto-bold';
}

.mail-data {
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow-x: hidden;
    height: 3em;
    white-space: nowrap;
    grid-column: 3;
    min-width: 0;
}

.mail-subject {
    color: var(--clr-mail-font-black);
    flex-shrink: 0;
    font-family: 'roboto-bold';
}

.mail-data :nth-child(2) {
    color: var(--clr-mail-font-gray);
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-data p {
    margin: 0;
    font-family: 'roboto-regular';
}

.mail-date {
    grid-column: 5;
    justify-self: end;
    font-family: 'roboto-regular';
    font-size: 0.8em;
}
