:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;

    --main-bg-color: lightblue;
    --crl-label: #DDDDDD;
    --crl-font: #666666;
    --crl-font-2: #555555;
    --crl-mail-bg: #f6f8fc;
    --crl-mail-read: #f2f6fc;
    --crl-mail-search-bar: #eaf1fb;
    --crl-mail-search-icon: rgba(60, 64, 68, 0.1);
    --crl-mail-compose-btn: #c2e7ff;
    --crl-mail-loader: hsl(204, 100%, 75%);
    --clr-mail-font-black: #202124;
    --clr-mail-font-gray: #5f6368;
    --clr-mail-filter-hover: rgb(68, 71, 70, 0.06);
    --width-side-filter-mail: 14em;
}