.filter-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70vw;
    max-width: 40em;
    padding: 1em 0 0.2em;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: wheat;

    font-family: inherit;
}
.filter-options-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    font-weight: 400;
}
.filter-options span {
    padding-left: 0.8em;
    padding-bottom: 0.8em;
    font-size: 0.9em;
}

.clear-filter-btn{
    background-color: #f1f3f4;
  border: none;

  border-radius: 0.5em;
  padding: 0.5em;

  font-family: inherit;
  color: #555;
}
.clear-filter-btn:hover {
    background-color: rgb(216, 216, 216);
}
/* 
.option-types>* {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    align-items: center;

    background-color: #1A73E8;
    color: white;
    cursor: pointer;
}
.option-types span {
    padding: 0;
    font-size: 0.8rem;
}

.option-types i {
    padding: 0;
    justify-self: center;
} */